body{
background:#fff;
margin:0;
padding:0;
min-height: 1000px;
border: 1px solid #808080;
min-width: 900px;
max-width: 1000px;
margin:auto;
}

h2{
margin-left:330px;
}
img{
margin-left:105px;}

form#warz div#warzywa{
position:absolute;
top:320px;
width:15%;
left:320px;
}
form#owoc div#owoce{
position:absolute;
top:320px;
width:15%;
left:490px;
}
form#inne div#inne{
position:absolute;
top:320px;
width:15%;
left:640px;
}

form#mieso div#mieso{
position:absolute;
top:320px;
width:15%;
left:790px;
}
form#nab div#nabial{
position:absolute;
top:320px;
width:15%;
left:940px;}

div#wybor{
margin-left:345px;
margin-top:200px;
 }
 div#wybor input#wyszukaj,
 div#wybor input#uloz{

 border: 2px solid #000000;
width: 150px;
height: 35px;
border: 0;
 }